.App {
  background: url('http://res.cloudinary.com/ericwindmill/image/upload/v1502572251/portfolio_site/background_august.png');
  display: grid;
  grid-template-columns: 300px 1fr;
  grid-template-rows: minmax(15vh, 1fr) minmax(85vh, auto);
  grid-template-areas:
      "header header"
      "sidebar content"
      "footer footer";
}

.Header {
  grid-area: header;
}

.Sidebar {
  grid-area: sidebar;
}

.MainContent {
  grid-area: content;

}

.Footer {
  grid-area: footer;
}

.NextLessonNav {
  margin-top: 50px;
  display: flex;
  flex-flow: column;
  align-items: center;
}