.App {
  display: grid;
  grid-template-columns: 300px 1fr;
  grid-template-rows: minmax(10vh, 1fr) minmax(90vh, auto);
  grid-template-areas:
      "header header"
      "sidebar content";
}

.Header {
  grid-area: header;
}

.Sidebar {
  grid-area: sidebar;
  border-right: 1px solid darkslategrey;
}

.MainContent {
  grid-area: content;
}

.NextLessonNav {
  display: flex;
  justify-content: space-between;
}