.Header {
  // positioning the content (remember this element is a grid-item)
  padding-top: 50px;

  //styles
  color: $nav-link-color;

  h1 {
    padding-left: 50px;
    margin: 0;
    color: $nav-link-color;
  }
}
