/***************
** RESETS ******
***************/

html, body {
  // Text and Font
  font-family: $main-font;
  font-size: $font-size;
  line-height: 2;

  // Sizing
  margin: 0;
  padding: 0;

  // Colors 
  background-color: $app-background;
}

// Syntax and Codepens
code {
  background-color: $code-background;

  padding: 5px;
  border-radius: 3px;
  font-size: .8rem;
}

.Codepen--Styles {
    margin: 50px auto;
}