/***************
** RESETS ******
***************/

html, body {
  // Text and Font
  font-family: $main-font;
  font-size: $font-size;
  line-height: 1.5;

  // Sizing
  margin: 0;
  padding: 0;

  // Colors
  background-color: $app-background;
}

p, h1, h2, h3, h4, h5, h6, a {
  line-height: 2;
}

a {
  text-decoration: none;
  color: $link-color;
  font-weight: 500;

  &:visited {
    color: $link-color;
  }

  &:hover {
    color: fade-out($link-color, .5);
  }
}

a:visited {
  color: $link-color;
}

// Syntax and Codepens
code {
  background: $code-background;
  padding: 5px;
  border-radius: 3px;
  font-size: .8rem;
}

pre > code {
  background: inherit;
}

.Codepen--Styles {
    margin: 50px auto;
}