
.Sidebar {
  margin-top: 10px;

  & > ul {
    list-style: none;
  }
}

.sublist-label {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  background: aliceblue;
  margin: 10px 0;
  border-radius: 5px;
  padding: 5px;
  box-shadow: 2px 5px 10px grey;

  > p {
    font-size: 1.2em;
    margin: 10px 0;
    font-weight: 500;
  }
}