.TopNav {
  // layout
  display: flex;
  justify-content: space-between;
  //color
  background: dodgerblue;

  a {
    color: $nav-link-color;
  }

  a:hover {
    color: lighten(black, 20%);
  }

  ul {
    //layout
    display: flex;
    padding-left: 50px;
    align-items: center;
    //style
    list-style: none;
    font-size: 1.2em;
  }
  li {
    padding-right: 50px;
  }
}

.Twitter-Icon {
  color: black;
  height: 45px;
  width: 45px;
  transition: color 0.2s ease;

  &:hover {
    color: lighten(black, 20%);
  }
}
