// Colors
$app-background: aliceblue;
$code-background: gainsboro;

// Font Colors
$link-color: dodgerblue;
$nav-link-color: black;

// Font
$main-font: 'Avenir', sanserif;
$font-size: 16px;

// Spacing
$spacing-unit: 30px;