/***************
** RESETS ******
***************/
html, body {
  font-family: "Avenir", sanserif;
  font-size: 16px;
  line-height: 1.5;
  margin: 0;
  padding: 0;
  background-color: aliceblue; }

p, h1, h2, h3, h4, h5, h6, a {
  line-height: 2; }

a {
  text-decoration: none;
  color: black;
  font-weight: 500; }
  a:visited {
    color: black; }
  a:hover {
    color: rgba(0, 0, 0, 0.5); }

a:visited {
  color: black; }

code {
  background: gainsboro;
  padding: 5px;
  border-radius: 3px;
  font-size: .8rem; }

pre > code {
  background: inherit; }

.Codepen--Styles {
  margin: 50px auto; }

.App {
  background: url("http://res.cloudinary.com/ericwindmill/image/upload/v1502572251/portfolio_site/background_august.png");
  display: grid;
  grid-template-columns: 300px 1fr;
  grid-template-rows: minmax(15vh, 1fr) minmax(85vh, auto);
  grid-template-areas: "header header" "sidebar content" "footer footer"; }

.Header {
  grid-area: header; }

.Sidebar {
  grid-area: sidebar; }

.MainContent {
  grid-area: content; }

.Footer {
  grid-area: footer; }

.NextLessonNav {
  margin-top: 50px;
  display: flex;
  flex-flow: column;
  align-items: center; }

.MainContent {
  padding: 30px;
  margin: 20px 60px 30px;
  min-width: 600px;
  max-width: 900px;
  justify-self: center;
  background: aliceblue;
  border-radius: 5px;
  box-shadow: 2px 5px 10px grey; }

.MainContent h2 {
  text-align: center; }

.Home h1 {
  text-align: center;
  font-size: 3em; }

.Home h2 {
  padding-bottom: 30px;
  border-bottom: 1px solid lightslategray; }

.Home .Hero {
  margin-bottom: 100px; }
  .Home .Hero p {
    margin: 50px 0; }

.table-of-contents {
  disaply: flex;
  flex-flow: center; }
  .table-of-contents .contents-section > h2 {
    text-align: left;
    padding-bottom: 10px;
    border-bottom: 1px solid lightslategrey;
    counter-reset: section; }
  .table-of-contents .contents-section > ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: space-between;
    margin-bottom: 60px;
    list-style: none; }
    .table-of-contents .contents-section > ul li::before {
      counter-increment: section;
      content: counters(section, ".") ". "; }

.Header {
  padding-top: 50px;
  color: black; }
  .Header h1 {
    padding-left: 50px;
    margin: 0; }

.Footer {
  background: lightslategray;
  text-align: center;
  font-size: .9em; }
  .Footer > ul {
    display: flex;
    justify-content: space-around;
    width: 60%;
    margin: 0 auto 50px;
    list-style: none;
    padding: 0; }
  .Footer p {
    margin-top: 0;
    line-height: 1.5; }
    .Footer p:first-child {
      margin-top: 50px; }
    .Footer p:nth-child(2) {
      font-style: italic; }

.Sidebar {
  margin-top: 10px; }
  .Sidebar > ul {
    list-style: none; }

.sublist-label {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  background: aliceblue;
  margin: 10px 0;
  border-radius: 5px;
  padding: 5px;
  box-shadow: 2px 5px 10px grey; }
  .sublist-label > p {
    font-size: 1.2em;
    margin: 10px 0;
    font-weight: 500; }

.TopNav {
  display: flex;
  justify-content: space-between;
  background: dodgerblue; }
  .TopNav ul {
    display: flex;
    padding-left: 50px;
    align-items: center;
    list-style: none;
    font-size: 1.2em; }
  .TopNav li {
    padding-right: 50px; }

.Twitter-Icon {
  color: black;
  height: 45px;
  width: 45px;
  transition: color 0.2s ease; }
  .Twitter-Icon:hover {
    color: #333333; }
