/***************
** RESETS ******
***************/
html, body {
  font-family: "Avenir", sanserif;
  font-size: 16px;
  line-height: 1.5;
  margin: 0;
  padding: 0;
  background-color: aliceblue; }

p, h1, h2, h3, h4, h5, h6, a {
  line-height: 2; }

a {
  text-decoration: none;
  color: darkblue; }

a:visited {
  color: darkblue; }

code {
  background: gainsboro;
  padding: 5px;
  border-radius: 3px;
  font-size: .8rem; }

pre > code {
  background: inherit; }

.Codepen--Styles {
  margin: 50px auto; }

.App {
  display: grid;
  grid-template-columns: 300px 1fr;
  grid-template-rows: minmax(10vh, 1fr) minmax(90vh, auto);
  grid-template-areas: "header header" "sidebar content"; }

.Header {
  grid-area: header; }

.Sidebar {
  grid-area: sidebar;
  border-right: 1px solid darkslategrey; }

.MainContent {
  grid-area: content; }

.NextLessonNav {
  display: flex;
  justify-content: space-between; }

.MainContent {
  padding: 30px;
  max-width: 700px;
  justify-self: center; }

.MainContent h2 {
  text-align: center; }

.Header {
  padding-top: 50px;
  color: black;
  border-bottom: 1px solid black; }
  .Header h1 {
    padding-left: 50px;
    margin: 0; }

.Sidebar > ul {
  list-style: none; }

.TopNav {
  display: flex;
  justify-content: space-between;
  background: gainsboro; }
  .TopNav ul {
    list-style: none;
    display: flex; }
  .TopNav li {
    padding-right: 50px;
    margin: 0; }
